/* Specific styling for the AddForm layout */
.add-form-height {
    height: 600px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Restrict resizing of textarea to vertical only */
textarea {
    resize: vertical;
    max-width: 100%;
    height: 150px;
}

/* Container for attachments with scroll and height limit */
#attachments-container {
    overflow-y: auto;
    max-height: 300px;
    margin-bottom: 15px;
}

    #attachments-container input[type="file"] {
        max-width: 100%;
        margin-bottom: 10px;
    }

/* Button styling for adding attachments */
.attachment-button {
    align-self: flex-start;
    margin-bottom: 15px;
}

/* Styling for the form's submit button */
.submit-button {
    width: 100%;
    margin-top: 20px;
}
