/* Importing Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global reset and setting font-family to Poppins */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Body background styling */
body {
    background-image: url('../images/BGloginGreen.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Wrapper for the main login form box */
.wrapper {
    width: 420px;
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    /* Header styling inside wrapper */
    .wrapper h1 {
        font-size: 36px;
        text-align: center;
        color: #006400;
    }

    /* Container for input field */
    .wrapper .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;
    }

/* Styling for text input fields */
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 40px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}

    /* Placeholder text color */
    .input-box input::placeholder {
        color: #666666;
    }

/* Styling for remember me and forgot password section */
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: #000000;
}

/* Checkbox accent color */
.remember-forgot label input {
    accent-color: #006400;
    margin-right: 3px;
}

/* Link styling in remember-forgot section */
.remember-forgot a {
    color: #006400;
    text-decoration: none;
}

    .remember-forgot a:hover {
        text-decoration: underline;
    }

/* Button styling for form submission */
.btn {
    width: 100%;
    height: 45px;
    background: #006400;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

/* Styling for register link section */
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: #000000;
}

/* Link styling within register link section */
.register-link p a {
    color: #006400;
    text-decoration: none;
    font-weight: 600;
}

    .register-link p a:hover {
        text-decoration: underline;
    }

/* Icon styling inside input field */
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #666666;
}
