@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url('../images/BGloginGreen.svg');
    background-size: cover; /* Dekker hele bakgrunnen */
    background-position: center; /* Sentrerer bildet */
    background-repeat: no-repeat; /* Ingen repetisjon */
}

.wrapper {
    width: 420px;
    background: #ffffff; /* Hvit bakgrunn for wrapper */
    color: #000000; /* Svart tekst */
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Diskret skygge */
}

    .wrapper h1 {
        font-size: 36px;
        text-align: center;
        color: #006400; /* Grønn farge for å matche sidens overskrifter */
    }

    .wrapper .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;
    }

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, .2); /* Endret til svart kant for synlighet */
    border-radius: 40px;
    color: #000000; /* Svart tekst */
    padding: 20px 45px 20px 20px;
}

    .input-box input::placeholder {
        color: #666666; /* Lys grå for placeholder */
    }

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: #000000; /* Svart tekst */
}

.remember-forgot label input {
    accent-color: #006400; /* Grønn farge for aksenter */
    margin-right: 3px;
}

.remember-forgot a {
    color: #006400; /* Grønn farge for lenker */
    text-decoration: none;
}

    .remember-forgot a:hover {
        text-decoration: underline;
    }

.btn {
    width: 100%;
    height: 45px;
    background: #006400; /* Grønn bakgrunn for knappen */
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Knappens skygge */
    cursor: pointer;
    font-size: 16px;
    color: #ffffff; /* Hvit tekst for kontrast */
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: #000000; /* Svart tekst */
}

.register-link p a {
    color: #006400; /* Grønn farge for registrer-lenken */
    text-decoration: none;
    font-weight: 600;
}

    .register-link p a:hover {
        text-decoration: underline;
    }

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #666666; /* Lys grå for ikon */
}
