@using KartverketProsjekt.Models.ViewModels
@model AddMapReportRequest

<div id="map"></div>

<div class="container py-5">
    <form asp-action="AddForm" method="post">
        <input type="hidden" id="geoJsonInput" name="geoJson" asp-for="GeoJson" />

        <div class="mb-3">
            <label class="form-label">Beskrivelse av feil</label>
            <textarea id="description" name="Description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success">Send inn</button>
        </div>
    </form>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            navigator.geolocation.getCurrentPosition(function (position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;

                var map = L.map('map').setView([latitude, longitude], 15);

                // Kartlagene
                var fargekart = L.tileLayer('https://cache.kartverket.no/v1/wmts/1.0.0/topo/default/webmercator/{z}/{y}/{x}.png', {
                    maxZoom: 15,
                    attribution: '&copy; <a href="http://www.kartverket.no/">Kartverket</a>'
                }).addTo(map);

                var gratonekart = L.tileLayer('https://cache.kartverket.no/v1/wmts/1.0.0/topograatone/default/webmercator/{z}/{y}/{x}.png', {
                    maxZoom: 15,
                    attribution: '&copy; <a href="http://www.kartverket.no/">Kartverket</a>'
                });

                var turkart = L.tileLayer('https://cache.kartverket.no/v1/wmts/1.0.0/toporaster/default/webmercator/{z}/{y}/{x}.png', {
                    maxZoom: 15,
                    attribution: '&copy; <a href="http://www.kartverket.no/">Kartverket</a>'
                });

                var sjokart = L.tileLayer('https://cache.kartverket.no/v1/wmts/1.0.0/sjokartraster/default/webmercator/{z}/{y}/{x}.png', {
                    maxZoom: 15,
                    attribution: '&copy; <a href="http://www.kartverket.no/">Kartverket</a>'
                });

                // Legger til kartlagskontroll
                var baseLayers = {
                    "Fargekart": fargekart,
                    "Gråtonekart": gratonekart,
                    "Turkart": turkart,
                    "Sjøkart": sjokart
                };

                L.control.layers(baseLayers).addTo(map);

                var drawnItems = new L.FeatureGroup();
                map.addLayer(drawnItems);

                var drawControl = new L.Control.Draw({
                    draw: {
                        marker: true,
                        polyline: true,
                        polygon: true,
                        circle: false,
                        circlemarker: false,
                        rectangle: true,
                    },
                    edit: {
                        featureGroup: drawnItems,
                        remove: true
                    }
                });
                map.addControl(drawControl);

                map.on('draw:created', (e) => {
                    var type = e.layerType,
                        layer = e.layer;

                    drawnItems.addLayer(layer);

                    var geoJsonString = JSON.stringify(layer.toGeoJSON());
                    document.getElementById('geoJsonInput').value = geoJsonString;
                });
            });
        });
    </script>
}
