@model KartverketProsjekt.Models.MapReportModel

<div id="map"></div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Beskrivelse av feil</label>
            <input type="text" class="form-control" id="description" asp-for="Description"/>
        </div>


        <div class="mb-3">
            <button type="submit" class="btn btn-success">Send inn</button>
        </div>

    </form>

</div>

@section Scripts {
    <script>
        var map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
    </script>
}

