@using KartverketProsjekt.Models.ViewModels
@model List<MapListViewModel>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<div class="container">
   <div id="overlay">
        <div class="collapse collapse-horizontal" id="previewInfo" style="position: absolute; z-index: 20000; float: left;">
            <div class="card" id="loadPreview" style="width: 25vw; height: 75vh; position: relative;">
            </div>
        </div>
    </div>
    <div id="map" style="z-index: 10000;"></div>
</div>

@section Scripts {
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="@("https://unpkg.com/@turf/turf@7.0.0/turf.min.js")"></script>
    <script src="~/js/MapListForm.js"></script>

    <script>
        // Iterate over mapReports and generate markers
        @foreach (var mapReport in Model)
        {
            @: generateMarker(@mapReport.MapReportId, @Html.Raw(mapReport.GeoJsonString), @mapReport.MapLayerId);
        }
    </script>
}