@using KartverketProsjekt.Models.ViewModels
@model ViewMapReportRequest

<div class="mb-3">
    <div class="mb-3">
        <h1>
            @Model.Title
        </h1>
    </div>
</div>
<div class="mb-3">
    <div class="mb-3">
        @Model.Description
    </div>
</div>