@model KartverketProsjekt.Models.MapReportModel

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<div class="container py-5">

    @if (Model != null)
    {
        <form method="get">

            <div class="mb-3">
                <label class="form-label">Id</label>
                <input type="text" id="id" class="form-control" asp-for="MapReportId" readonly />
            </div>

            <div class="mb-3">
                <label class="form-label">Dato</label>
                <input type="text" id="date" class="form-control" asp-for="SubmissionDate" readonly />
            </div>

            <div class="mb-3">
                <label class="form-label">Beskrivelse</label>
                <input type="text" id="description" class="form-control" asp-for="Description" readonly/>
            </div>

            <div class="mb-3">
                <label class="form-label">Status</label>
                <input type="text" id="status" class="form-control" asp-for="CaseStatus" readonly />
            </div>


        </form>

    }
    else
    {
        <p>Ingen innmelding funnet!</p>
    }

<div id="map"></div>

<script> var modelIntoJson = @Html.Raw(Json.Serialize(Model)); //formaterer modelen til Json
//variabelen kan nå sendes til eksternal js.
    console.log(modelIntoJson); //for å debugge innholde
    </script>

<script src="~/js/Viewform.js"></script>
    